@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@400;500;600;700&display=swap');
@import "base/variables";
@import "base/mixins";
@import "base/functions";

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: $container;
}

@import "blocks/logos";
@import "blocks/buttons";
@import "blocks/gradients";
@import "blocks/promo";
@import "blocks/header";

