.header {
    display: flex;
    justify-content: space-between;
    &__burger {
        display: none;
    }
    &__nav {
        align-items: center;
        display: flex;
        justify-content: space-between;
        flex-basis: percent(701, 1172);
    }
    &__menu {
        list-style-type: none;
        display: flex;
        flex-basis: percent(426, 701);
        justify-content: space-between;
    }
    &__item {
        font-size: rem(16);
        line-height: relativeUnit(24, 16);
        letter-spacing: 0.558529px;
        opacity: 0.8;
    }
    &__link {
        color: #FFFFFF;
        text-decoration: none;
    }
}