.header {
    display: flex;
    justify-content: space-between;
    &__menu {
        display: flex;
        align-items: center;
        flex-basis: percent(675, 1172);
        justify-content: flex-end;
    }
    &__list {
        display: flex;
        list-style-type: none;
        flex-basis: percent(481, 675);
        justify-content:space-around;
    }
    &__item {
        font-size: rem(16);
        line-height: relativeUnit(24, 16);
        letter-spacing: 0.558529px;
        opacity: 0.8;
    }
    &__link {
        color: #FFFFFF;
        text-decoration: none;
    }
}