.promo {
    min-height: 896px;
    overflow: hidden;
    position: relative;
    &__wrapper {
        clip-path: polygon(0 0, 100% 0, 100% 66.51785714285714%, 0% 100%);
        background-color: #000000;
        padding: 30px 0 225px 0;
    }
    &__container {
        position: relative;
    }
    &__content {
        max-width: 693px;
        margin-top: 165px;
    }
    &__title {
        font-weight: 600;
        @include adaptiveFontSize(25, 54, 320, 1440);
        line-height: relativeUnit(65, 54);
        letter-spacing: 1.48685px;
        color: #FFFFFF;
    }
    &__descr {
        margin-top: 24px;
        @include adaptiveFontSize(14, 20, 320, 1440);
        line-height: relativeUnit(32, 20);
        letter-spacing: 0.48705px;
        color: #FFFFFF;
        opacity: 0.75;
    }
    &__form {
        display: flex;
        margin-top: 53px;
        input {
            margin-right: 18px;
            padding-left: 24px;
            width: 356px;
            height: 58px;
            border: 0;
            border-radius: 5px;
        }
    }
    &__sub-link {
        display: block;
        margin-top: 14px;
        font-size: rem(14);
        line-height: relativeUnit(21, 14);
        letter-spacing: 0.457602px;
        color: #FFFFFF;
        opacity: 0.6;
        text-decoration: none;
    }
    &__gradient-block {
        position: absolute;
        &_first {
            width: 820px;
            height: 938px;
            right: percent(998, 1440);
            top: 165px;
        }
        &_second {
            width: 976px;
            height: 1149px;
            right: percent(464, 1440);
            top: -252px;
        }
        &_third {
            width: 914px;
            height: 1237px;
            left: percent(834, 1440);
            top: -192px;
        }
    }
    &__gradient {
        &_purple {
            background: linear-gradient(180deg, rgba(0, 194, 255, 0.4) 0%, #FF29C3 100%);
            border-radius: 100%;
            position: absolute;
            &_first {
                width: 820px;
                height: 820px;
                filter: blur(200px);
            }
            &_second {
                width: 976px;
                height: 976px;
                bottom: 0;
                filter: blur(400px);
                transform: matrix(1, 0, 0, -1, 0, 0);
            }
            &_third {
                width: 914px;
                height: 914px;
                bottom: 0;
                filter: blur(400px);
            }
        }
        &_blue {
            background: linear-gradient(180deg, rgba(24, 75, 255, 0) 0%, #174AFF 100%);
            position: absolute;
            &_first {
                width: 394px;
                height: 559px;
                left: 213px;
                bottom: 0;
                filter: blur(200px);
            }
            &_second {
                width: 578.51px;
                height: 820.78px;
                left: 84.75px;
                filter: blur(200px);
                transform: matrix(1, 0, 0, -1, 0, 0);
            }
            &_third {
                width: 640px;
                height: 909px;
                right: 38px;
                filter: blur(200px);
                transform: matrix(1, 0, 0, -1, 0, 0);
            }
        }
    }
    &__window-big {
        position: absolute;
        left: percent(917, 1440);
        top: 227px;
    }
    &__window-small {
        position: absolute;
        top: 564px;
        left: percent(778, 1440)
    }
}