.purple {
    background: linear-gradient(180deg, rgba(0, 194, 255, 0.4) 0%, #FF29C3 100%);
}

.blue {
    background: linear-gradient(180deg, rgba(24, 75, 255, 0) 0%, #174AFF 100%);
}

.gradient {
    position: absolute;
    &_first {
        width: 820px;
        height: 938px;
        left: -378px;
        top: 165px;
        &_purple {
            width: 820px;
            height: 820px;
            filter: blur(200px);
        }
        &_blue {
            width: 394px;
            height: 559px;
            left: 213px;
            bottom: 0;
            filter: blur(200px);
        }
    }
    &_second {
        width: 976px;
        height: 1149px;
        left: 0px;
        top: -252px;
        transform: matrix(1, 0, 0, -1, 0, 0);
        &_purple {
            width: 976px;
            height: 976px;
            bottom: 0;
            filter: blur(400px);
            transform: matrix(1, 0, 0, -1, 0, 0);
        }
        &_blue {
            width: 578.51px;
            height: 820.78px;
            left: 84.75px;
            filter: blur(200px);
            transform: matrix(1, 0, 0, -1, 0, 0);
        }
    }
    &_third {
        width: 914px;
        height: 1237px;
        right: -72px;
        top: -192px;
        &_purple {
            width: 914px;
            height: 914px;
            bottom: 0;
            filter: blur(400px);
        }
        &_blue {
            width: 640px;
            height: 909px;
            right: -38px;
            filter: blur(200px);
            transform: matrix(1, 0, 0, -1, 0, 0);
        }
    }
}