.header {
    display: flex;
    justify-content: space-between;
    &__menu {
        display: flex;
        align-items: center;
    }
    &__list {
        display: flex;
        list-style-type: none;
    }
    &__item {
        margin: 0 27.5px;
        font-size: rem(16);
        line-height: relativeUnit(24, 16);
        letter-spacing: 0.558529px;
        opacity: 0.8;
    }
    &__link {
        color: #FFFFFF;
        text-decoration: none;
    }
}